<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <header>
        <%- include('navbar', {links:links}) %>
    </header>
    <form method="POST" action="/message/new">
      <label for="name">name: </label>
      <input type="text" name="name" required />
      <br />
      <label for="text">message: </label>
      <input type="text" name="text" required />
      <input type="submit" value="Submit!" />
    </form>
  </body>
</html>
